.img-thumbnail{
    margin: 25px;
    width: 80%;
    height: 80%; 
}

.card-body{
    padding: 0 15px;
}


.row {
  --bs-gutter-x: 3rem;
  --bs-gutter-y: 3;
  display: flex;
  flex-wrap: wrap;
  height: 90vh;
  margin-left: calc(4 * var(--bs-gutter-x));
  margin-right: calc(5 * var(--bs-gutter-x));
}



.custom-tabs {
  border-bottom: 2px solid mediumaquamarine;

}

/* Customize individual tab links */
.custom-tabs .nav-link {
  color: #555;
  font-weight: bold;
  transition: color 0.2s, background-color 0.2s;
}

/* Active tab style */
.custom-tabs .nav-link.active {
  background-color: mediumaquamarine;
  color: white;
  border-color: transparent;
  border-radius: 0.375rem 0.375rem 0 0;
}

.custom-tabs .nav-link:hover {
  border-bottom: 3px solid mediumaquamarine;
  border-left: hidden;
  border-right: hidden;
  border-top: hidden;

}

