.dropdown-toggle, .dropdown-item
{
    cursor:pointer;
}

img{
    max-height: 35px;
    /* border: 1px solid mediumaquamarine; */
    margin-right: 5px;
    display: inline;
    border-radius: 10%;
}